<p id="notice"><%= notice %></p>

  <div id="btn_container_new_blog_post">
    <p class="pull-right">
        <%= link_to 'New Blog post', new_blog_post_path, class: 'btn btn-primary' if (can? :create, BlogPost.new) %>
    </p>
  </div>


<h1>Listing Blog Posts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"><center>Action</center></th>
    </tr>
  </thead>

  <tbody>
    <% @blog_posts.each do |blog_post| %>
      <tr>
        <td><%= blog_post.title %></td>
        <td><%= blog_post.description %></td>
        <td><%= link_to 'Show', blog_post %></td>
        <td><%= link_to 'Edit', edit_blog_post_path(blog_post) %></td>
        <td><%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


